<div class="container">
<div class="row">
<div class="col-md-12">
<div class="sign-up">

<h4>会員登録</h4>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @user, local: true) do |f| %>
  <%= f.label :name %>
  <div class="input">
    <%= f.text_field :name %>
  </div>

  <%= f.label :email %>
  <div class="input">
    <%= f.email_field :email %>
  </div>

  <%= f.label :"プロフィール画像" %>

  <div class="user-image">
    <%= f.file_field :image %>
  </div>

  <%= f.label :password %>
  <div class="input">
    <%= f.password_field :password %>
  </div>

  <%= f.label :password_confirmation %>
  <div class="input">
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="submit">
    <%= f.submit "Create my account" %>
  </div>
<% end %>
</div>
</div>
</div>
</div>
