<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="common-container">
        <h4>ユーザ情報</h4>
        <% if @user.image.url then %>
          <div class="user-img">
            <%= image_tag @user.image.url %>
          </div>
        <% end %>
        <p>ユーザ名 : <%= @user.name %></p>
        <p>Email : <%= @user.email %></p>

        <% if @user.id == current_user.id then %>
        <%= link_to '編集', edit_user_path(@user) %> |
        <% end %>
        <%= link_to '戻る', timelines_path %>

      </div>
    </div>
  </div>
</div>
