<h3>以下の内容で、送信する。</h3>

  <%= form_with(model: @timeline, url: timelines_path, local: true) do |form| %>
    <%= form.hidden_field :title %>
    <%= form.hidden_field :content %>
    <%= form.hidden_field :image %>
    <%= form.hidden_field :image_cache %>

    <p>タイトル:<%= @timeline.title %></p>
    <p>内容:<%= @timeline.content %></p>
    <p>画像:  <%= image_tag(@timeline.image.url) if @timeline.image && @timeline.image.url %></p>
    <p>ユーザ:<%= @timeline.user.name %></p>
    <%= form.submit  "登録する" %>
  <% end %>

  <%= form_with(model:@timeline, url:new_timeline_path, local:true, method:"get") do |form| %>
    <%= form.hidden_field :title %>
    <%= form.hidden_field :content %>
    <%= form.hidden_field :image %>
    <%= form.hidden_field :image_cache %>
    <%= form.submit "戻る", name: 'back' %>
  <% end %>
