<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="common-container">
        <h4>以下の内容で、送信する。</h4>

          <%= form_with(model: @timeline, url: timelines_path, local: true) do |form| %>
            <%= form.hidden_field :title %>
            <%= form.hidden_field :content %>
            <%= form.hidden_field :image %>
            <%= form.hidden_field :image_cache %>

            <p>タイトル:<%= @timeline.title %></p>
            <p>内容:<%= @timeline.content %></p>
            <div class="timeline-image">
              <p>画像:  <%= image_tag(@timeline.image.url) if @timeline.image && @timeline.image.url %></p>
            </div>
            <p>ユーザ:<%= @timeline.user.name %></p>
            <%= form.submit  "登録する" %>
          <% end %>

          <%= form_with(model:@timeline, url:new_timeline_path, local:true, method:"get") do |form| %>
            <%= form.hidden_field :title %>
            <%= form.hidden_field :content %>
            <%= form.hidden_field :image %>
            <%= form.hidden_field :image_cache %>
            <%= form.submit "戻る", name: 'back' %>
          <% end %>
      </div>
    </div>
  </div>
</div>
