<p id="notice"><%= notice %></p>

<h1>Timelines</h1>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>内容</th>
      <th>画像</th>
      <th>ユーザ</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @timelines.each do |timeline| %>
      <tr>
        <td><%= timeline.title %></td>
        <td><%= timeline.content %></td>
        <td><%= timeline.image %></td>
        <td><%= timeline.user.name %></td>
        <td><%= link_to '詳細', timeline %></td>
        <td><%= link_to '編集', edit_timeline_path(timeline) %></td>
        <td><%= link_to '削除', timeline, method: :delete, data: { confirm: '削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'タイムラインの投稿', new_timeline_path %>
