<div class="container-fluid">
<div class="row">
  <div class="col-md-2">
    <h4>サイドメニュー</h4>
    <div class="sidemenu">
    <ul>
      <a href="/users/<%=current_user.id %>">
      <li>
        <span><%= image_tag('profile.jpg') %></span>
        <div class="SideItem">
          <span><%= current_user.name %></span>
        </div>
      </li>
      </a>
      <a href="/timelines/new">
      <li>
        <span><%= image_tag('timeline.jpg') %></span>
        <div class="SideItem">
          タイムラインの投稿
        </div>
      </li>
      </a>
    </ul>
    </div>
  </div>

  <!-- タイムライン表示画面 -->
  <div class="col-md-8">
      <h4>投稿一覧</h4>
      <!-- つぶやき一覧を表示する -->
      <div class = "timelines">
      <% @timelines.each {|timeline| %>
        <div class="timeline">
          <div class="timeline-data clearfix">
            <div class="profile-img">
              <%= image_tag('profile.jpg') %>
            </div>
            <span class="timeline-title"><%= timeline.user.name %></span>
            <span class="create-date"><%= timeline.created_at %></span>
          </div>
          <div class="timeline-content">
           <p>タイトル : <%= timeline.title %></p>
           <p>内容: <%= timeline.content %></p>
          </div>
          <div class="timeline-img">
            <img src="<%=timeline.image%>" alt="image" class="timeline-image">
          </div>
          <div class="timeline-edit clearfix">
            <%= link_to '詳細', timeline_path(timeline.id) %>
          <% if timeline.user.id == current_user.id then %>
            <%= link_to '編集', edit_timeline_path(timeline.id),data: { confirm: '本当に編集していいですか？' }  %>
            <%= link_to '削除', timeline_path(timeline.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %>
          <% end %>
          </div>
        </div>
      <% } %>
      </div>
  </div>

  <!-- 友達リスト表示 -->
  <div class="col-md-2">
    <h4>友達リスト</h4>
    <div class="sidemenu">
    <ul>
      <% current_user.friend.each do |user| %>

        <% if current_user.id == user.id then %>
          <% next %>
        <% end %>

        <a href="/users/<%=user.id%>">
        <li>
          <% if user.image.url then %>
          <span>
            <%= image_tag user.image.url %>
          </span>
          <% end %>
            <div class="SideItem">
                <%= user.name %>
              </div>
        </li>
        </a>
      <% end %>
    </ul>
    </div>

  </div>
  </div>
  </div>
