<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @timeline.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @timeline.content %>
</p>

<p>
  <strong>Image:</strong>
  <%= @timeline.image %>
</p>

<p>
  <strong>User:</strong>
  <%= @timeline.user %>
</p>

<%= link_to 'Edit', edit_timeline_path(@timeline) %> |
<%= link_to 'Back', timelines_path %>
