<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル:</strong>
  <%= @timeline.title %>
</p>

<p>
  <strong>内容:</strong>
  <%= @timeline.content %>
</p>

<p>
  <strong>画像:</strong>
  <%= image_tag @timeline.image.url %>
</p>

<p>
  <strong>ユーザ:</strong>
  <%= @timeline.user %>
</p>

<%= link_to '編集', edit_timeline_path(@timeline) %> |
<%= link_to '戻る', timelines_path %>
