<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="common-container">
        <p>
          <span>タイトル:</span>
          <%= @timeline.title %>
        </p>
        <p>
          <span>内容:</span>
          <%= @timeline.content %>
        </p>

        <% if @timeline.image.url then %>
          <div class="timeline-image">
            <p>
              <span>画像:</span>
              <%= image_tag @timeline.image.url %>
            </p>
          </div>
        <% end %>
        <p>
          <span>ユーザ:</span>
          <%= @timeline.user.name %>
        </p>
        <% if @timeline.user.id == current_user.id then %>
        <%= link_to '編集', edit_timeline_path(@timeline) %> |
        <% end %>
        <%= link_to '戻る', timelines_path %>
      </div>
    </div>
  </div>
</div>
